@font-face {
  font-family: "TT Lakes";
  src: url("../fonts/TTLakes-Regular.eot");
  src: local("../fonts/TT Lakes Regular"),
    local("../assets/fonts/TTLakes-Regular"),
    url("../assets/fonts/TTLakes-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("../assets/fonts/TTLakes-Regular.woff") format("woff"),
    url("../assets/fonts/TTLakes-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "TT Lakes";
  src: url("../fonts/TTLakes-Medium.eot");
  src: local("../fonts/TT Lakes Medium"),
    local("../assets/fonts/TTLakes-Medium"),
    url("../assets/fonts/TTLakes-Medium.eot?#iefix") format("embedded-opentype"),
    url("../assets/fonts/TTLakes-Medium.woff") format("woff"),
    url("../assets/fonts/TTLakes-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "TT Lakes";
  src: url("../fonts/TTLakes-Bold.eot");
  src: local("../fonts/TT Lakes Bold"), local("../assets/fonts/TTLakes-Bold"),
    url("../assets/fonts/TTLakes-Bold.eot?#iefix") format("embedded-opentype"),
    url("../assets/fonts/TTLakes-Bold.woff") format("woff"),
    url("../assets/fonts/TTLakes-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

img {
  display: block; /*при вставке картинок в теги кнопк и ссылок убирает появляющиеся отступы снизу и растягивающие родительский элемент */
}

body {
}

.body-container {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100%;
  margin: 0 auto;
  padding: 0;
  font-family: "TT Lakes";
}

.header {
  height: 88px;
  background: #ffffff;
  display: flex;
  justify-content: space-between;
  padding: 0px 16px 0px 16px;
}

.link-icon {
  line-height: 0;
}

.header__logo-icon {
  margin-left: 16px;
}

.header__logo-icon_line:after {
  content: "";
  background: #eaeaea;
  height: 32px;
  width: 2px;
  border-radius: 1px;
  display: inline-block;
  position: absolute;
  margin: 10px 0px 0px 16px;
}

.header__logo-icon_line::before {
  content: "";
  background: #eaeaea;
  height: 32px;
  width: 2px;
  border-radius: 1px;
  display: none;
  position: absolute;
  margin: 10px 0px 0px -22px;
}

.nav-section {
  display: flex;
  align-items: center;
  list-style-type: none;
}

.nav-section li {
  margin-right: 16px;
}

.nav-section li:last-child {
  margin-right: 0px;
}

.nav-section li:nth-child(3) {
  margin-right: 42px;
}

.nav-section li:nth-child(-n + 3) {
  display: none;
}

.nav-section li:nth-child(3):after {
  content: "";
  background: #eaeaea;
  height: 32px;
  width: 2px;
  border-radius: 1px;
  display: inline-block;
  position: absolute;
  margin: 4px 0px 0px 60px;
}

.button {
  display: flex;
  align-items: center;
  background: #ffffff;
  border-width: 0;
  box-shadow: 1px 1px 1px rgb(157, 157, 157);
  border-radius: 50%;
}

.button img:hover {
  transform: scale(1.09);
  box-shadow: 3px 3px 3px rgb(157, 157, 157);
  border-radius: 50%;
}

.button img:active {
  transform: scale(1.03);
}

.main {
  background: #f8f8f8;
}

.main__header {
  display: flex;
  justify-content: space-between;
  padding: 24px 16px 0px 16px;
  margin-bottom: 24px;
}

.title {
  line-height: 40px;
  font-size: 28px;
  letter-spacing: -0.6px;
}

.title::before {
  content: "";
  background: #41f6d7;
  height: 40px;
  width: 3px;
  border-radius: 2px;
  display: inline-block;
  position: absolute;
  margin-left: -16px;
}

.title__communication {
  display: none;
}

.title__communication .button {
  background: #f8f8f8;
  border-width: 0px;
  box-shadow: 0px 0px 0px rgb(157, 157, 157);
  border-radius: 0%;
  border: 2px solid #f8f8f8;
  padding: 5px;
}

.title__communication .button:hover {
  box-shadow: 2px 2px 3px 0px rgb(157, 157, 157);
  transform: scale(1.01);
  background-image: linear-gradient(#ffffff, #eaeaea);

  border-radius: 20px;
  border-color: rgb(195, 195, 195);
  transition: border-color 0.2s, transform 0.2s, background-image 0.3s;
}

.title__communication .button img:hover {
  transform: scale(1);
  box-shadow: 0px 0px 0px rgb(157, 157, 157);
}

.title__communication .button:active {
  border-color: #68fdd5;
  transform: scale(0.995);
}

.title__repair {
  margin-right: 32px;
}

.title__button-text {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.2px;
  margin-right: 8px;
}

.main__nav {
  padding-right: 16px;

  margin-bottom: 24px;
}

.list {
  display: flex;
  align-items: center;
  list-style-type: none;
  overflow: scroll;
}

.list a {
  text-decoration: none;
  color: #1b1c21;
  line-height: 42px;
  border: 2px solid #f8f8f8;
  border-radius: 6px;
  padding: 8px 16px;
  margin: 0px 2px;
}

.list a:hover {
  border-color: rgb(183, 183, 183);
  transition: border-color 0.5s;
  box-shadow: 1px 1px 1px rgb(157, 157, 157);
}

.list a:active {
  border-color: #00ffbb;
  transition: border-color 0s;
}

.list a:focus {
  border: 2px solid #7bffd8;
  transition: border 0.5s;
}

.list li:active {
  transform: scale(0.993);
}

.list li:hover {
}

.list__item {
  border-radius: 6px;
  white-space: nowrap;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #7e7e82;

  margin-bottom: 4px;
}

.list__item_activ {
  background: #ffffff;
  border: 2px solid #b8ffec;
  padding: 8px 16px;
  margin-right: 4px;
  border-radius: 6px;
  box-sizing: content-box;
}

.main__content {
  display: flex;
  flex-direction: column;
}

.discription-text {
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.2px;
  color: #1b1c21;
  padding: 0px 16px;
  margin-bottom: 16px;
}

.discription-text__up {
  margin-bottom: 30px;
}

.discription-text__down {
  display: none;
  margin-bottom: 10px;
}
.discription-text__down_hide {
  display: none;
}

.discription-text__open {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  padding-left: 8px;
  margin-bottom: 24px;
}

.discription-text__open button {
  background: #f8f8f8;
  border-width: 0;
}

.discription-text__open button:hover {
  transform: scale(1.05);
  transition: transform 0.25s;
}

.discription-text__open button:active {
  transform: scale(1);
  transition: transform 0.25s;
}

.open {
}

.main__pic {
  margin-bottom: 30px;
}

@media (min-width: 768px) {
  .header {
    padding: 0 24px;
  }

  .header__logo-icon {
    margin-left: 42px;
  }

  .header__logo-icon_line::before {
    display: inline-block;
  }

  .header__logo-icon_line:after {
    display: none;
  }

  .nav-section li:nth-child(-n + 3) {
    display: flex;
  }

  .main__header {
    padding: 24px 24px 0px 24px;
    margin-bottom: 32px;
  }

  .title::before {
    margin-left: -24px;
  }

  .main__nav {
    padding: 0px 0px 0px 24px;
    margin-bottom: 32px;
  }

  .main__content {
    flex-direction: row;
  }

  .discription-text {
    line-height: 20px;
    width: 50%;
    padding: 0 24px;
    padding-right: 48px;
  }
  .discription-text__down {
    display: block;
  }

  .discription-text__open {
    padding-left: 9px;
  }

  .main__pic {
    padding-right: 25px;
    border-radius: 5px;
    width: 50%;
  }
}

@media (min-width: 1120px) {
  .header {
    display: none;
  }

  .main__header {
    padding: 42px 32px 0px 32px;
    margin-bottom: 8px;
  }

  .title::before {
    margin-left: -32px;
  }

  .title__communication {
    display: flex;
  }

  .main__nav {
    padding: 0px 16px 0px 32px;
    margin-bottom: 20px;
  }

  .list {
    flex-wrap: wrap;
    overflow: hidden;
  }

  .discription-text__down {
    margin-bottom: 14px;
  }

  .discription-text__down_hide {
    display: inline;
  }

  .discription-text__open {
    padding-left: 6px;
  }

  .main__pic {
    padding-right: 32px;
  }
}

.aside-body-container {
  display: flex; /* делает элемени флекс-контейнером */
  flex-direction: column; /* выравнивает элементы в колонку в флекс контейнере */
  margin: 0; /* удаляет внешние отступы */
  padding: 23px 24px 32px 24px; /* добавляет внутренние отступы */
  font-family: "TT Lakes"; /* задаёт шрифт */
  width: 320px;
  height: 1024px;
}

.button {
  border-width: 0; /* удаляет рамку у кнопки */
  border-radius: 50%; /* скругляет края кнопки */
}

.aside-body-header {
  display: flex; /* делает элемени флекс-контейнером */
  margin: 0; /* удаляет внешние отступы */
  align-items: center; /* выравнивает элементы внутри флекс контейнера по чентру поперечной оси */
  margin-bottom: 50px; /* задает внешний отступ элемента */
}

.aside-body-header button:first-child {
  margin-right: 17px; /* задает внешний отступ справа первому элементу button */
}

.header__logo-icon {
  margin-right: auto; /* посредством автаматического внешнего отступа справа отталкивает элементы друг от друга на все свободное расстояние */
}

.aside-main__nav /* ul */ {
  list-style-type: none; /* убираем стандартные точки у списка */
  font-size: 16px; /* задем размер шрифта элементам списка */
  letter-spacing: -0.2px; /* устанавливаем межбуквенное расстояние элементов списка */
}

.aside-main {
  margin-bottom: auto;
  color: #1b1c21;
}

.aside-main__nav li {
  margin-bottom: 32px; /*добавляем внешний отстум каждому элементу списка */
}

.aside-main__nav li a {
  display: inline-block; /* позволяет растягивать ссылку до высоты блока в котором находится и пименять некоторые трансформации */
  line-height: 24px; /* устанавливаем высоту строки ссылок */
  text-decoration: none; /* убираем стандартные стили ссылок */
  color: #1b1c21; /* устанавливаем цвет текста ссылки  */
  transition: 0.6s; /* скорость применения эффектов */
  /*margin-bottom: 32px;  добавляем внешний отстум каждому элементу списка */
}

.aside-main__nav {
  margin-bottom: auto; /* добавляем внешний отстум каждому элементу списка */
}

.aside-main__nav li a:hover {
  /* поведение ссылки при наведении*/
  transform: scale(1.03); /* увеличение размера*/
  text-shadow: 1px 2px 3px rgb(102, 102, 102); /*появление тени*/
  transition: 0.2s; /* скорость применения изменений */
}

.aside-main__nav li a:active {
  /* поведение ссылки при клике */
  transform: scale(0.99); /* уменьшение размера */
  transition: 0s; /* скорость применения изменеий */
}

.aside-main__nav li a:focus {
  /* поведение ссылки при взятии в фокус */
  color: #00da83; /* цвет текста */
  transition: 0.3s; /* скорость применения изменеий */
}

.aside-main__nav li a:focus:hover {
  /* поведение ссылки взятой в фокус при наведении */
  transform: scale(1); /* трансформация размера */
  text-shadow: none; /* непоявление тени */
}

.aside-main__nav li a:focus::before {
  /* появление before у ссылки которая взята в фокус */
  content: "";
  background: #00ff99;
  height: 24px;
  width: 3px;
  border-radius: 2px;
  display: inline-block;
  position: absolute;
  margin-left: -24px;
  /* animation-duration: 0.3s; скорость применения анимации */
  /*animation-timing-function: ease-in-out; временная функция анимации */
  /* animation-name: slidein; имя анимации */
  animation: 0.3s ease-in-out slidein;
}

@keyframes slidein {
  /* параметры анимации */
  from {
    /* начальные заначения */
    opacity: 0;
    scale: 0;
  }

  to {
    /* конечные значения */
    scale: 100%;
    opacity: 100%;
  }
}

.aside-footer {
  color: #1b1c21;
}

.aside-footer__icon {
  display: flex;
  margin-bottom: 16px;
}

.aside-footer__icon button {
  margin-right: 16px;
}

.aside-footer__icon button:last-child {
  margin-right: 0px;
}

.aside-footer__email {
  margin-bottom: 12px;
}

.aside-footer__email a {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #1b1c21;
}

.aside-footer__number {
  margin-bottom: 40px;
}

.aside-footer__number a {
  text-decoration: none;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.6px;
  text-align: left;
  color: #1b1c21;
}

.aside-footer__email a:hover {
  text-decoration: underline;
}

.aside-footer__number a:hover {
  text-decoration: underline;
}

.aside-footer__language {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  text-align: left;
}

.aside-footer__language a {
  text-decoration: none; /* убираем стандартные стили ссылок */
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  text-align: left;
  color: #1b1c21;

  margin-right: 7px;
}

.aside-footer__language a:last-child {
  margin-right: 0px;
}

.aside-footer__language a:hover {
  /* поведение ссылки при наведении*/
  transform: scale(1.03); /* увеличение размера*/
  text-shadow: 1px 2px 3px rgb(102, 102, 102); /*появление тени*/
  transition: 0.2s; /* скорость применения изменений */
}

.aside-footer__language a:active {
  /* поведение ссылки при клике */
  transform: scale(0.99); /* уменьшение размера */
  transition: 0s; /* скорость применения изменеий */
}

.aside-footer__language a:focus {
  /* поведение ссылки при взятии в фокус */
  color: #7e7e82; /* цвет текста */
  transition: 0.3s; /* скорость применения изменеий */
}

.aside-footer__language a:hover:focus {
  transform: scale(1); /* трансформация размера */
  text-shadow: none;
}
